In [16]:
import pandas as pd
from os import path

In [89]:
# Hier euren Pfad zur CSV einfügen
path = "C:/Users/lorga/Desktop/Parlament/data/merged.csv"
meps_df = pd.read_csv(path, sep = ";")
geonames_df = pd.read_csv("C:/Users/lorga/Desktop/Parlament/data/geonames.csv", sep = ";")
geonames_df["Name"] = geonames_df["Name"].str.lower()
geonames_df["Alternate Names"] = geonames_df["Alternate Names"].str.lower()
alt_geonames_df = geonames_df.loc[geonames_df["Alternate Names"].notna()]

In [8]:
gender_percentages_df = pd.DataFrame(meps_df.value_counts("gender"))
gender_percentages_df = gender_percentages_df.reset_index().rename(columns = {0: "count"})
gender_percentages_df["percentage"] = gender_percentages_df["count"] / gender_percentages_df["count"].sum()
gender_percentages_df

   gender  count  percentage
0    MALE    425    0.601132
1  FEMALE    282    0.398868

In [10]:
gender_dict = {}
for faction in set(meps_df["faction"].tolist()):
    faction_df = meps_df.loc[meps_df["faction"] == faction]
    female_count = len(faction_df.loc[faction_df["gender"] == "FEMALE"].index)
    if len(faction_df.index > 0):
        female_percentage = female_count / len(faction_df.index) * 100
        gender_dict[faction] = female_percentage
faction_percentage_df = pd.DataFrame.from_dict([gender_dict]).transpose()
faction_percentage_df = faction_percentage_df.rename(columns = {0: "Percentage of women"})
faction_percentage_df.sort_values("Percentage of women")

                                                    Percentage of women
European Conservatives and Reformists Group                   27.941176
Non-attached Members                                          31.372549
Identity and Democracy Group                                  37.931034
Group of the European People's Party (Christian...            37.988827
Group of the Progressive Alliance of Socialists...            42.253521
Renew Europe Group                                            43.000000
The Left group in the European Parliament - GUE...            48.648649
Group of the Greens/European Free Alliance                    50.000000

In [11]:
meps_df.head()

,identifier,name,familyName,givenName,gender,citizenship,faction,memberships,born_place,born_day,born_month,born_year,relatives,degrees,educated_at,occupation
0,28150,Kinga Gál,Gál,Kinga,FEMALE,HUN,Non-attached Members,"AFET,D-CN,EMPL,DACP,DPAC",Cluj-Napoca,6,9,1970,NaN,doctorate,Eötvös Loránd University,"jurist,lawyer,politician"
1,197425,Ralf Seekatz,Seekatz,Ralf,MALE,DEU,Group of the European People's Party (Christia...,"ECON,D-IN,DCAS,INTA,EMPL,D-RU",DERNBACH,10,11,1972,NaN,NaN,NaN,politician
2,190517,Martin Schirdewan,Schirdewan,Martin,MALE,DEU,The Left group in the European Parliament - GU...,"D-CA,ECON",Berlin,12,7,1975,NaN,NaN,Free University Berlin,"journalist,politician"
3,197518,Krzysztof Jurgiel,Jurgiel,Krzysztof,MALE,POL,European Conservatives and Reformists Group,"AGRI,D-TR,REGI,D-IQ",Ogrodniki,18,11,1953,NaN,NaN,Warsaw University of Technology,"surveyor,politician"
4,197691,Mathilde Androuët,Androuët,Mathilde,FEMALE,FRA,Identity and Democracy Group,"ENVI,DASE",Rueil Malmaison,3,7,1984,NaN,NaN,Sciences Po Aix,"politician,permanent politician"

In [12]:
org_list = []
for list_entry in meps_df["memberships"].tolist():
    if list_entry:
        for entry in str(list_entry).split(","):
            org_list.append(entry)
list(set(org_list))
org_list.remove("nan")
org_list

['AFET',
 'D-CN',
 'EMPL',
 'DACP',
 'DPAC',
 'ECON',
 'D-IN',
 'DCAS',
 'INTA',
 'EMPL',
 'D-RU',
 'D-CA',
 'ECON',
 'AGRI',
 'D-TR',
 'REGI',
 'D-IQ',
 'ENVI',
 'DASE',
 'AGRI',
 'DACP',
 'DAFR',
 'DEVE',
 'PECH',
 'FEMM',
 'D-ZA',
 'EMPL',
 'DKOR',
 'AFET',
 'DROI',
 'D-TR',
 'LIBE',
 'SEDE',
 'D-AL',
 'DASE',
 'EMPL',
 'TRAN',
 'ENVI',
 'PETI',
 'D-IL',
 'AFET',
 'SANT',
 'ENVI',
 'ECON',
 'FISC',
 'DARP',
 'DSAS',
 'DMED',
 'BUDG',
 'DASE',
 'ECON',
 'ITRE',
 'DAND',
 'DLAT',
 'ECON',
 'FISC',
 'D-US',
 'INTA',
 'DCAM',
 'ENVI',
 'PETI',
 'DSCA',
 'DEPA',
 'AGRI',
 'D-MD',
 'PETI',
 'ITRE',
 'FISC',
 'ECON',
 'EMPL',
 'DEEA',
 'D-IN',
 'ITRE',
 'FEMM',
 'D-ZA',
 'ITRE',
 'D-US',
 'ECON',
 'IMCO',
 'DAND',
 'DASE',
 'DLAT',
 'ENVI',
 'INTA',
 'TRAN',
 'PECH',
 'DPAL',
 'DACP',
 'DCAB',
 'ENVI',
 'AFCO',
 'SANT',
 'DCAS',
 'FEMM',
 'DMER',
 'DLAT',
 'JURI',
 'D-MX',
 'ENVI',
 'REGI',
 'D-TR',
 'AFET',
 'CONT',
 'D-ME',
 'DCAS',
 'INTA',
 'DROI',
 'DASE',
 'DEPA',
 'JURI',
 'D-RU',
 'DSCA',
 'DASE',
 'TRAN',
 'CULT',
 'D-TR',
 'D-CL',
 'DLAT',
 'TRAN',
 'PECH',
 'D-MK',
 'DLAT',
 'AFET',
 'EMPL',
 'D-BY',
 'DEPA',
 'SEDE',
 'EMPL',
 'DACP',
 'DCAB',
 'ENVI',
 'DSAS',
 'DEVE',
 'DPAL',
 'DMED',
 'ENVI',
 'PECH',
 'IMCO',
 'DASE',
 'AFET',
 'DARP',
 'D-IR',
 'LIBE',
 'ITRE',
 'D-UA',
 'JURI',
 'D-IR',
 'IMCO',
 'DROI',
 'D-RS',
 'ENVI',
 'FEMM',
 'DASE',
 'DEPA',
 'BUDG',
 'ITRE',
 'LIBE',
 'D-UA',
 'DKOR',
 'SEDE',
 'AFET',
 'LIBE',
 'DCAR',
 'DSEE',
 'EMPL',
 'D-UK',
 'REGI',
 'D-CL',
 'DLAT',
 'ENVI',
 'AGRI',
 'D-JP',
 'ECON',
 'AFET',
 'D-UK',
 'D-RU',
 'DLAT',
 'D-US',
 'INTA',
 'ITRE',
 'AFCO',
 'D-JP',
 'D-JP',
 'IMCO',
 'ENVI',
 'DEEA',
 'AFET',
 'D-MK',
 'ECON',
 'D-AL',
 'REGI',
 'ITRE',
 'SANT',
 'LIBE',
 'AFCO',
 'D-ME',
 'DSEE',
 'AFET',
 'D-IN',
 'REGI',
 'D-AL',
 'IMCO',
 'CULT',
 'D-ME',
 'DMAG',
 'AFET',
 'D-RS',
 'LIBE',
 'AFET',
 'DSEE',
 'DEPA',
 'ECON',
 'AGRI',
 'D-RS',
 'D-US',
 'ITRE',
 'DACP',
 'DAFR',
 'BUDG',
 'D-ZA',
 'SEDE',
 'DLAT',
 'ENVI',
 'DACP',
 'DAFR',
 'AFET',
 'PECH',
 'DMER',
 'EMPL',
 'FEMM',
 'DEPA',
 'CULT',
 'DSCA',
 'TRAN',
 'D-US',
 'CONT',
 'D-IL',
 'PETI',
 'DACP',
 'DAFR',
 'ITRE',
 'D-TR',
 'LIBE',
 'D-US',
 'DCAS',
 'AFET',
 'EMPL',
 'D-JP',
 'DSAS',
 'LIBE',
 'D-IN',
 'EMPL',
 'SANT',
 'ENVI',
 'FEMM',
 'D-CA',
 'D-AF',
 'LIBE',
 'INTA',
 'TRAN',
 'SEDE',
 'D-RU',
 'D-AF',
 'LIBE',
 'INTA',
 'TRAN',
 'SEDE',
 'D-RU',
 'TRAN',
 'D-CN',
 'ENVI',
 'REGI',
 'AFET',
 'DROI',
 'D-IR',
 'D-US',
 'LIBE',
 'D-IL',
 'IMCO',
 'CONT',
 'LIBE',
 'DEPA',
 'TRAN',
 'D-MD',
 'D-JP',
 'CULT',
 'LIBE',
 'FEMM',
 'D-MX',
 'DLAT',
 'DANZ',
 'ITRE',
 'TRAN',
 'REGI',
 'D-CN',
 'DMED',
 'INTA',
 'D-US',
 'DMED',
 'BUDG',
 'ITRE',
 'DMAG',
 'CONT',
 'CULT',
 'JURI',
 'D-IL',
 'EMPL',
 'DMAG',
 'DMED',
 'TRAN',
 'DCAM',
 'D-CL',
 'DLAT',
 'ENVI',
 'ITRE',
 'D-IN',
 'IMCO',
 'JURI',
 'DLAT',
 'DACP',
 'DAFR',
 'FEMM',
 'D-MX',
 'AFET',
 'DACP',
 'DAFR',
 'INTA',
 'DROI',
 'D-US',
 'AFET',
 'D-TR',
 'ITRE',
 'D-RU',
 'LIBE',
 'DEPA',
 'BUDG',
 'D-MD',
 'AFET',
 'DLAT',
 'IMCO',
 'D-UA',
 'EMPL',
 'D-BY',
 'D-CL',
 'DCAR',
 'INTA',
 'D-UK',
 'TRAN',
 'D-JP',
 'DLAT',
 'AFET',
 'DROI',
 'D-TR',
 'ITRE',
 'LIBE',
 'D-CN',
 'DLAT',
 'EMPL',
 'FEMM',
 'ITRE',
 'AGRI',
 'DMER',
 'ENVI',
 'PETI',
 'DPAL',
 'D-AF',
 'DSAS',
 'DMED',
 'ECON',
 'ENVI',
 'LIBE',
 'D-BR',
 'DCAS',
 'DLAT',
 'AFET',
 'DMER',
 'D-ZA',
 'BUDG',
 'D-RS',
 'TRAN',
 'D-ME',
 'AFET',
 'AFCO',
 'DCAS',
 'D-US',
 'FEMM',
 'AGRI',
 'D-MX',
 'D-CL',
 'DLAT',
 'EMPL',
 'INTA',
 'AGRI',
 'D-US',
 'DMAS',
 'DMED',
 'DLAT',
 'JURI',
 'CONT',
 'D-CN',
 'IMCO',
 'D-US',
 'REGI',
 'CONT',
 'D-RU',
 'BUDG',
 'DARP',
 'D-US',
 'LIBE',
 'D-CA',
 'ENVI',
 'TRAN',
 'PECH',
 'SANT',
 'DLAT',
 'AGRI',
 'D-ME',
 'DANZ',
 'EMPL',
 'DEEA',
 'IMCO',
 'FISC',
 'ECON',
 'D-CL',
 'DSAS',
 'DLAT',
 'LIBE',
 'D-CL',
 'D-UK',
 'D-IN',
 'AFET',
 'SEDE',
 'DSCA',
 'DEVE',
 'DEPA',
 'AFET',
 'LIBE',
 'DNAT',
 'REGI',
 'PETI',
 'D-RU',
 'AGRI',
 'D-UA',
 'DEPA',
 'IMCO',
 'D-US',
 'ITRE',
 'AGRI',
 'DMER',
 'DLAT',
 'D-IR',
 'TRAN',
 'ECON',
 'ENVI',
 'ITRE',
 'D-TR',
 'DSCA',
 'LIBE',
 'DEPA',
 'ITRE',
 'FEMM',
 'D-US',
 'D-MK',
 'AFET',
 'D-UK',
 'DSEE',
 'TRAN',
 'D-US',
 'ECON',
 'AFCO',
 'D-UK',
 'D-JP',
 'INTA',
 'DLAT',
 'D-IQ',
 'ITRE',
 'LIBE',
 'EMPL',
 'SANT',
 'DMAG',
 'LIBE',
 'BUDG',
 'PECH',
 'DMAS',
 'DACP',
 'DPAC',
 'D-IQ',
 'ENVI',
 'DEEA',
 'ITRE',
 'AGRI',
 'D-CN',
 'INTA',
 'D-ME',
 'DPAP',
 'LIBE',
 'EMPL',
 'CULT',
 'DACP',
 'DAFR',
 'ECON',
 'FISC',
 'DCAR',
 'INTA',
 'ENVI',
 'PETI',
 'AGRI',
 'SANT',
 'D-CN',
 'ECON',
 'D-CA',
 'TRAN',
 'D-ME',
 'LIBE',
 'D-MK',
 'AFET',
 'AFCO',
 'D-MD',
 'DEPA',
 'EMPL',
 'DKOR',
 'CONT',
 'CONT',
 'ENVI',
 'DNAT',
 'D-TR',
 'INTA',
 'DROI',
 'SEDE',
 'D-US',
 'AFET',
 'ECON',
 'TRAN',
 'REGI',
 'DEPA',
 'D-ZA',
 'TRAN',
 'LIBE',
 'JURI',
 'BUDG',
 'REGI',
 'D-AL',
 'CONT',
 'TRAN',
 'D-IL',
 'AFET',
 'SEDE',
 'D-CL',
 'DASE',
 'DLAT',
 'INTA',
 'D-JP',
 'ENVI',
 'SANT',
 'BUDG',
 'REGI',
 'PETI',
 'PETI',
 'D-AF',
 'D-IN',
 'BUDG',
 'ECON',
 'FISC',
 'D-CA',
 'ITRE',
 'D-US',
 'PECH',
 'AFET',
 'D-UK',
 'DCAS',
 'D-CN',
 'BUDG',
 'DSEE',
 'ECON',
 'D-MK',
 'DLAT',
 'ECON',
 'FISC',
 'D-MX',
 'DCAR',
 'INTA',
 'D-TR',
 'DEVE',
 'DROI',
 'DACP',
 'DAFR',
 'DARP',
 'D-IR',
 'CONT',
 'ITRE',
 'REGI',
 'DARP',
 'ENVI',
 'IMCO',
 'D-US',
 'CULT',
 'D-IN',
 'INTA',
 'ECON',
 'D-IL',
 'AFET',
 'BUDG',
 'IMCO',
 'DMED',
 'CULT',
 'D-CL',
 'DPAL',
 'REGI',
 'D-CA',
 'DLAT',
 'D-IL',
 'AGRI',
 'PECH',
 'DMED',
 'AFET',
 'D-IN',
 'DPAP',
 'ENVI',
 'FEMM',
 'DLAT',
 'AFET',
 'DEVE',
 'DROI',
 'DAND',
 'AFET',
 'D-UK',
 'AGRI',
 'LIBE',
 'FEMM',
 'D-JP',
 'LIBE',
 'DEEA',
 'JURI',
 'PECH',
 'CULT',
 'D-RU',
 'SEDE',
 'D-RS',
 'ECON',
 'FISC',
 'D-CN',
 'ENVI',
 'D-US',
 'ENVI',
 'TRAN',
 'DSCA',
 'DEPA',
 'LIBE',
 'DSEE',
 'D-RU',
 'REGI',
 'D-BY',
 'ITRE',
 'D-IL',
 'DPAL',
 'DEPA',
 'AFCO',
 'D-BR',
 'DLAT',
 'BUDG',
 'DEVE',
 'LIBE',
 'D-IL',
 'DMED',
 'ITRE',
 'D-TR',
 'IMCO',
 'D-BR',
 'D-UK',
 'DLAT',
 'INTA',
 'DCAM',
 'JURI',
 'FEMM',
 'DSCA',
 'DEPA',
 'IMCO',
 'DASE',
 'DEVE',
 'DMAS',
 'LIBE',
 'D-AF',
 'AFET',
 'DMED',
 'ITRE',
 'D-US',
 'D-CN',
 'BUDG',
 'ECON',
 'ITRE',
 'D-CN',
 'BUDG',
 'ENVI',
 'D-IN',
 'PECH',
 'JURI',
 'DAND',
 'DLAT',
 'TRAN',
 'D-MX',
 'D-BR',
 'EMPL',
 'PETI',
 'D-CL',
 'DLAT',
 'ECON',
 'IMCO',
 'D-CN',
 'DANZ',
 'JURI',
 'LIBE',
 'DSAS',
 'CULT',
 'DPAP',
 'DEVE',
 'D-ZA',
 'ECON',
 'TRAN',
 'FISC',
 'D-CN',
 'BUDG',
 'D-MX',
 'D-UK',
 'D-JP',
 'DLAT',
 'DEPA',
 'AFET',
 'ITRE',
 'D-UA',
 'D-RU',
 'D-IL',
 'D-US',
 'ECON',
 'FISC',
 'ENVI',
 'SANT',
 'ENVI',
 'ECON',
 'D-UK',
 'D-CN',
 'CONT',
 'D-US',
 'ECON',
 'AFCO',
 'D-US',
 'EMPL',
 'ENVI',
 'AFCO',
 'D-TR',
 'DPAL',
 'DMAS',
 'DMED',
 'IMCO',
 'DMAS',
 'D-BR',
 'DLAT',
 'EMPL',
 'JURI',
 'AFCO',
 'D-UK',
 'DMAG',
 'D-US',
 'DMER',
 'DMED',
 'ENVI',
 'ITRE',
 'DASE',
 'ECON',
 'D-RU',
 'BUDG',
 'LIBE',
 'FEMM',
 'D-TR',
 'D-IR',
 'TRAN',
 'D-CN',
 'REGI',
 'LIBE',
 'D-IR',
 'ENVI',
 'D-MX',
 'DLAT',
 'ECON',
 'DASE',
 'AGRI',
 'D-BR',
 'INTA',
 'D-TR',
 'DCAS',
 'ECON',
 'FISC',
 'D-US',
 'D-CA',
 'DPAL',
 'ENVI',
 'PETI',
 'SANT',
 'DMED',
 'DMAS',
 'AFET',
 'LIBE',
 'DROI',
 'DLAT',
 'DAND',
 'DMED',
 'DROI',
 'DEVE',
 'DCAM',
 'DLAT',
 'DACP',
 'DAFR',
 'AFET',
 'INTA',
 'BUDG',
 'DCAR',
 'D-UK',
 'D-BR',
 'EMPL',
 'D-RU',
 'BUDG',
 'ECON',
 'D-ZA',
 'ITRE',
 'TRAN',
 'DARP',
 'DACP',
 'DAFR',
 'D-MD',
 'BUDG',
 'ECON',
 'DEPA',
 'D-US',
 'ITRE',
 'DACP',
 'DAFR',
 'REGI',
 'DASE',
 'EMPL',
 'D-JP',
 'DEVE',
 'DPAP',
 'AGRI',
 'D-CL',
 'ENVI',
 'DMER',
 'DLAT',
 'ENVI',
 'DKOR',
 'DPAL',
 'TRAN',
 'D-US',
 'DLAT',
 'CONT',
 'AGRI',
 'PECH',
 'D-UK',
 'TRAN',
 'LIBE',
 'D-CN',
 'DASE',
 'REGI',
 'PETI',
 'ENVI',
 'TRAN',
 'D-AL',
 'AGRI',
 'DSEE',
 'DLAT',
 'DANZ',
 'AGRI',
 'PETI',
 'DSAS',
 'ENVI',
 'D-UK',
 'FEMM',
 'TRAN',
 'LIBE',
 'D-TR',
 'ENVI',
 'D-BY',
 'DEPA',
 'INTA',
 'DEEA',
 'EMPL',
 'DPAP',
 'DEVE',
 'BUDG',
 'D-TR',
 'D-RU',
 'DKOR',
 'CONT',
 'ITRE',
 'D-UK',
 'D-CN',
 'DPAP',
 'ENVI',
 'ECON',
 'FISC',
 'D-US',
 'EMPL',
 'LIBE',
 'D-CL',
 'DLAT',
 'ECON',
 'FISC',
 'D-US',
 'EMPL',
 'ENVI',
 'D-AL',
 'AFET',
 'SANT',
 'DSAS',
 'ENVI',
 'AGRI',
 'DEEA',
 'AGRI',
 'JURI',
 'DMAG',
 'DMED',
 'AFCO',
 'BUDG',
 'D-RU',
 'CONT',
 'ECON',
 'DANZ',
 'TRAN',
 'D-IN',
 'IMCO',
 'DEEA',
 'D-RS',
 'ENVI',
 'BUDG',
 'AGRI',
 'PECH',
 'D-IL',
 'D-IN',
 'ITRE',
 'D-JP',
 'BUDG',
 'D-US',
 'D-CN',
 'ENVI',
 'ITRE',
 'DACP',
 'DAFR',
 'FEMM',
 'SANT',
 'DMAG',
 'DMED',
 'TRAN',
 'DPAP',
 'DACP',
 'DAFR',
 'LIBE',
 'D-ZA',
 'INTA',
 'ECON',
 'SEDE',
 'FISC',
 'D-RU',
 'ENVI',
 'D-IL',
 'TRAN',
 'DMED',
 'IMCO',
 'DACP',
 'DPAC',
 'EMPL',
 'JURI',
 'D-CN',
 'AFET',
 'SEDE',
 'DMAG',
 'DLAT',
 'ECON',
 'FISC',
 'D-CL',
 'DSCA',
 'DMED',
 'DEPA',
 'AFET',
 'INTA',
 'DACP',
 'DCAB',
 'IMCO',
 'D-US',
 'AFET',
 'DROI',
 'D-TR',
 'DEPA',
 'JURI',
 'D-UK',
 'DSCA',
 'DLAT',
 'D-CL',
 'AFET',
 'DROI',
 'DLAT',
 'LIBE',
 'PETI',
 ...]

In [15]:
def filter_percentage_df(column, filter_list, meps_df):
    gender_dict = {}
    non_na_df = meps_df.loc[meps_df[column].notna()]
    for filter_entry in filter_list:
        filter_df = non_na_df.loc[non_na_df[column].str.contains(filter_entry)]
        female_count = len(filter_df.loc[filter_df["gender"] == "FEMALE"].index)
        if len(filter_df.index > 0):
            female_percentage = female_count / len(filter_df.index) * 100
            gender_dict[filter_entry] = female_percentage
    filter_percentage_df = pd.DataFrame.from_dict([gender_dict]).transpose()
    filter_percentage_df = filter_percentage_df.rename(columns = {0: "Percentage of women"})
    return filter_percentage_df.sort_values("Percentage of women")
committee_list = [org for org in org_list if not "D-" in org]
committee_percentage_df = filter_percentage_df("memberships", committee_list, meps_df)
committee_percentage_df

      Percentage of women
AFCO            19.642857
DARP            20.000000
DPAC            25.000000
DSEE            25.000000
BUDG            26.923077
SEDE            27.586207
AFET            28.571429
DCAS            29.411765
FISC            30.769231
ECON            31.304348
DNAT            31.578947
JURI            33.333333
DKOR            33.333333
DMER            34.210526
PETI            34.848485
DMAS            36.111111
CONT            36.363636
DCAR            36.363636
ITRE            36.774194
DASE            37.037037
TRAN            37.113402
INTA            37.647059
DEPA            37.777778
DROI            38.596491
DAFR            38.775510
DACP            39.024390
AGRI            39.784946
DLAT            40.000000
DEEA            40.000000
DCAM            40.740741
DMAG            41.666667
REGI            42.168675
PECH            42.307692
DMED            42.352941
LIBE            42.962963
CULT            43.548387
IMCO            44.047619
DANZ            45.833333
DPAP            45.833333
DEVE            46.938776
ENVI            47.928994
DAND            48.000000
DPAL            50.000000
DCAB            53.333333
SANT            53.571429
DSCA            54.545455
EMPL            56.730769
DSAS            60.869565
FEMM            85.294118

Where were MEPs born?

In [135]:
def native_born_counter(birthplaces, home_country_code):
    eu_country_codes = ["AT", "BE", "BG", "CY", "CZ", "DE", "DK", "EE", "ES", "FI",
                       "FR", "GR", "HR", "HU", "IE", "IT", "LT", "LU", "LV", "MT", "NL", "PL",
                       "PT", "RO", "SE", "SI", "SK"]
    other_country_codes = eu_country_codes
    other_country_codes.remove(home_country_code)
    counter = 0
    success = 0
    native_born = 0
    eu_born = 0
    non_native_birthplaces = []
    for place_start in birthplaces:
        counter += 1
        # clean place name
        place = str(place_start).lower()
        if place != "nan":
            for sign in ["(", "/", "-", ","]:
                place = place.split(sign)[0].strip()
            country_codes = geonames_df.loc[geonames_df["Name"] == place]["Country Code"].values
            if len(country_codes) > 0:
                success += 1
                if home_country_code in country_codes:
                    native_born += 1
                elif any(country_code in country_codes for country_code in eu_country_codes):
                    eu_born += 1
                elif geonames_df["Alternate Names"].str.contains(place, na = False).any():
                    alt_country_codes = alt_geonames_df.loc[alt_geonames_df["Alternate Names"].str.contains(place)].values
                    if len(alt_country_codes) > 0:
                        if home_country_code in alt_country_codes:
                            native_born += 1
                        elif any(country_code in alt_country_codes for country_code in other_country_codes):
                            eu_born += 1
                        else:
                            non_native_birthplaces.append(place)
            elif geonames_df["Alternate Names"].str.contains(place, na = False).any():
                alt_country_codes = alt_geonames_df.loc[alt_geonames_df["Alternate Names"].str.contains(place)].values
                if len(alt_country_codes) > 0:
                    success += 1
                    if home_country_code in alt_country_codes:
                        native_born += 1
                    elif any(country_code in alt_country_codes for country_code in other_country_codes):
                        eu_born += 1
                    else:
                        non_native_birthplaces.append(place)
                else:
                    print(place_start, place)
            # place names not being recognised
            #else:
            #   print(place_start, place)
    return success, native_born, eu_born, counter, non_native_birthplaces

In [143]:
mep_origin_dict = {}
for country in set(meps_df["country"].tolist()):
    mep_origin_dict[country] = []
    country_meps_df = meps_df.loc[meps_df["country"] == country]
    birthplaces = country_meps_df["born_place"].tolist()
    success, native_born, eu_born, counter, non_native_birthplaces = native_born_counter(birthplaces, country)
    mep_origin_dict[country] = [country, 
                             round((success / counter * 100), 2), 
                             round((native_born / success * 100), 2), 
                             round((eu_born / success * 100), 2), 
                             round(((success - native_born - eu_born) / success * 100), 2)]
mep_origin_df = pd.DataFrame.from_dict(mep_origin_dict)
mep_origin_df = mep_origin_df.transpose()
mep_origin_df = mep_origin_df.drop(columns = [0])
mep_origin_df = mep_origin_df.rename(columns = {1: "Identified", 2: "Native-born", 3: "EU-born", 4: "Foreign-born"})
mep_origin_df.head()

   Identified Native-born EU-born Foreign-born
NL      82.76       95.83    4.17          0.0
BE      95.24       100.0     0.0          0.0
IT      97.37       90.54    9.46          0.0
EE      100.0       100.0     0.0          0.0
LV       87.5       85.71   14.29          0.0

In [145]:
mep_origin_df.sort_values(by = ["Native-born"])

   Identified Native-born EU-born Foreign-born
HU      95.24        70.0    20.0         10.0
SE      76.19       81.25     0.0        18.75
BG      100.0       82.35    5.88        11.76
HR      100.0       83.33    8.33         8.33
LU      100.0       83.33   16.67          0.0
LV       87.5       85.71   14.29          0.0
IE      100.0       85.71     0.0        14.29
LT      81.82       88.89     0.0        11.11
PT      86.36       89.47     0.0        10.53
GR      100.0       90.48    4.76         4.76
IT      97.37       90.54    9.46          0.0
DK      78.57       90.91     0.0         9.09
ES      96.61       92.98    1.75         5.26
FR      93.67       93.24    4.05          2.7
AT      89.47       94.12    5.88          0.0
DE      97.92       95.74    2.13         2.13
NL      82.76       95.83    4.17          0.0
RO      90.91       96.67     0.0         3.33
PL      86.79       97.83     0.0         2.17
CZ      100.0       100.0     0.0          0.0
SK      93.33       100.0     0.0          0.0
CY      83.33       100.0     0.0          0.0
EE      100.0       100.0     0.0          0.0
BE      95.24       100.0     0.0          0.0
FI      92.86       100.0     0.0          0.0
SI      100.0       100.0     0.0          0.0
MT      83.33       100.0     0.0          0.0